<!-- wp:template-part {"slug":"header","theme":"carmelo","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"},"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--30);padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:query-title {"type":"archive","showPrefix":false,"align":"wide","style":{"spacing":{"margin":{"bottom":"0","top":"0","right":"0","left":"0"}}}} /-->

	<!-- wp:query {"queryId":0,"query":{"perPage":6,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"flex","columns":3},"align":"wide","layout":{"type":"default"}} -->
	<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide"} -->
	<!-- wp:post-terms {"term":"category","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"backgroundColor":"secondary","fontSize":"small"} /-->
	
	<!-- wp:post-featured-image {"isLink":true,"width":"100%","height":"max(15vw, 30vh)","align":"wide"} /-->
	
	<!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}}} /-->
	
	<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
	<div class="wp-block-group"><!-- wp:post-date /-->
	
	<!-- wp:paragraph {"className":"is-margin-0"} -->
	<p class="is-margin-0">por</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:post-author {"showAvatar":false,"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}}} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:post-excerpt {"moreText":"\u0022leer más\u0022","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}}} /-->
	
	<!-- wp:spacer {"height":"var(\u002d\u002dwp\u002d\u002dpreset\u002d\u002dspacing\u002d\u002d50)"} -->
	<div style="height:var(--wp--preset--spacing--50)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	<!-- /wp:post-template -->
	
	<!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"center"}} -->
	<!-- wp:query-pagination-previous {"label":"Siguientes articulos"} /-->
	
	<!-- wp:query-pagination-next {"label":"Articulos anteriores"} /-->
	<!-- /wp:query-pagination --></div>
	<!-- /wp:query --></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"carmelo","tagName":"footer"} /-->